{% extends 'base.html' %}
{% block title %}My Projects{% endblock %}

{% block content %}
<h2>My Projects</h2>
<a href="{% url 'projects:project-create' %}">+ New Project</a>

<ul>
    {% for project in projects %}
        <li>
            <strong>{{ project.name }}</strong><br>
            Client: {{ project.client_name }}<br>
            Location: {{ project.location }}<br>
            Created: {{ project.date_created|date:"M d, Y" }}<br>
            <a href="{% url 'quotes:quote-detail' project.pk %}">View Quote</a>
        </li>
    {% empty %}
        <li>No projects found.</li>
    {% endfor %}
</ul>
{% endblock %}
